{{# users }}
    
    <li> 
        {{nome}} - {{idade}} 
        <input type="button" value="+" id="btnsomar">
        <input type="button" value="-">
        <input type="button" value="-">
    </li>
    
    
    

{{/ users }}